.score {
  font-size: 48px;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff8400, 0 0 25px #ff8400, 0 0 30px #ff8400, 0 0 35px #ff8400, 0 0 40px #e60073;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #ff8400, 0 0 20px #ff8400, 0 0 25px #ff8400, 0 0 30px #ff8400, 0 0 35px #ff8400, 0 0 40px #ff8400;
  }
}

@-moz-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073, 0 0 40px #e60073;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #ff8400, 0 0 20px #ff8400, 0 0 25px #ff8400, 0 0 30px #ff8400, 0 0 35px #ff8400, 0 0 40px #ff8400;
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff8400, 0 0 40px #ff8400, 0 0 50px #ff8400, 0 0 60px #ff8400, 0 0 70px #ff8400, 0 0 80px #ff8400;
  }
}