<div class="chat-container">
    <div class="messages">
        <div *ngFor="let msg of messages">
            <div class="entry" id="chat-message">
                <p> {{ msg.username }} </p>
                <p> {{ msg.message }} </p>
            </div>
        </div>
    </div>

    <div class="side-by-side" id="chat-input-container">
        <input type="text" id="chat-input" class="input-field" (keydown.enter)="sendMessage()" [formControl]="messageInput" (change)="enableSendButton()" placeholder="Type a message..."/>
        <button id="send-button" (click)="sendMessage()" disabled>Send</button>
    </div>
</div>
  