<div id="effect-log">
    <h2> Active Effects </h2>
    <div *ngFor="let entry of userInfluencingEffects">
        <div class="entry">
            <div> {{ entry.effectName }}</div>
            <div> (activated by {{ entry.userName }})</div>
        </div>
    </div>
    <div class="divider"></div>
    <h2> Effects influencing other players </h2>
    <div *ngFor="let entry of userActivatedEffects">
        <div class="entry">
            <div> {{ entry.effectName }}</div>
            <div> (influencing {{ entry.userName }})</div>
        </div>
    </div>
</div>