<div id="effect-log">
    <h3 class="black centered"> Active Effects </h3>
    <div *ngFor="let entry of userInfluencingEffects">
        <div class="entry">
            <div> {{ entry.effectName }}</div>
            <div> (activated by {{ entry.userName }})</div>
        </div>
    </div>
    <div class="divider"></div>
    <h3 class="black centered"> Effects influencing other players </h3>
    <div *ngFor="let entry of userActivatedEffects">
        <div class="entry">
            <div> {{ entry.effectName }}</div>
            <div> (influencing {{ entry.userName }})</div>
        </div>
    </div>
</div>