h1 {
  text-transform: uppercase;
}

div.container {
  width: 100%;
}

p span {
  color: #d05656;
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.numbers {
  display: block;
  font-family: sans-serif;
  font-size: 30px;
  line-height: 1.5;
  margin: 0 auto;
}

.name {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: -25px;
}

#progressBar {
  width: 90%;
  margin: 10px auto;
  height: 22px;
  background-color: #efd0d0;
  box-shadow:
      0 0 10px #00ffff, /* Cyan-Glow (äußerer Rand) */
      0 0 20px #00ffff;
  animation: blueFlame 1.5s infinite alternate; /* Flammenanimation */
}

@keyframes blueFlame {
  0% {
    box-shadow:
        0 0 10px #00ffff,
        0 0 20px #00ffff;
  }
  100% {
    box-shadow:
        0 0 15px #00ffff,
        0 0 25px #00ffff;
  }
}

#progressBar div {
  height: 100%;
  text-align: right;
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: var(--contrast-tertiary);
  box-sizing: border-box;
}

#countdown {
  display: flex;
  gap: 20px;
}

#countdown > li > * {
  font-family: "Comic Sans MS", Helvetica, sans-serif;
}