<h2> Open a new game session </h2>

<div class="container">
    <div class="tile">
        <div class="tile-row">
            <label> Select duration </label>
            <input type="number" min="0"/>
        </div>
        <button type="submit"> Generate</button>
    </div>
    <div class="tile">
        Instructions:
        <ul>
            <li> Invite your friends to a phone call (more fun!)</li>
            <li> Open a new game session</li>
            <li> Collect as many viruses as possible</li>
            <li> On the marketplace, you can re-invest your viruses to increase productivity</li>
        </ul>
    </div>
</div>