<h2> Open a new game session </h2>

<div class="container">
    <div class="tile">
        <div class="tile-row">
            <label> Select duration [min] </label>
            <input type="number" class="input-field" min="0" [formControl]="duration"/>
        </div>
        <div class="tile-row">
            <label> Select evaluation method </label>
            <select class="input-field" [formControl]="evaluationMethod">
                <option *ngFor="let method of availableEvaluationMethods" value="{{method.value}}"> {{ method.description }}</option>
            </select>
        </div>
        <button type="submit" (click)="createSession()"> Generate</button>
        <p class="error"> {{ errorMessage }}</p>
    </div>
    <div class="tile">
        Instructions:
        <ul>
            <li> Invite your friends to a phone call (more fun!)</li>
            <li> Open a new game session</li>
            <li> Collect as many viruses as possible</li>
            <li> On the marketplace, you can re-invest your viruses to increase productivity</li>
        </ul>
    </div>
</div>
<a [routerLink]="['/session-joining/']"> Join a session </a>