.form-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-signin > * {
  width: 20%;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin-heading {
  font-family: "Comic Sans MS", serif;
  color: white;
}

.form-signin-heading {
  font-size: 48px;
}