<main class="shop-container">
    <h1 class="shop-title">Shop</h1>

    <div class="row">
        <div class="categories" *ngFor="let entry of effects">
            <button class="category-item" id="{{entry.name}}" (click)="handleEffectClick(entry)"
                    [disabled]="(coreService.points < parseInt(entry.cost)) || entry.disabled" title="{{entry.description}}">
                <span class="material-symbols-outlined">{{ entry.icon }}</span>
                    <b> {{ entry.name }} </b>
                    <i> Kosten: {{ entry.cost }} Viren </i>
            </button>
            <div [ngClass]="{'spinner': true, 'hidden': !entry.disabled}"></div>
        </div>
    </div>
</main>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>