div.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.shop-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  height: auto;
  margin: auto auto 20px;
  padding: 20px;
  background-color: var(--contrast-tertiary);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px var(--border-color) solid;
}


.shop-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.category-item {
  padding: 15px 30px;
  font-size: 1rem;
  border: 1px var(--border-color) solid;
  border-radius: 10px;
  cursor: pointer;
  background: var(--secondary-button-gradient);
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Comic Sans MS", Helvetica, sans-serif;
}

.category-item[disabled] {
  cursor: not-allowed;
}

.spinner {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 5px solid grey;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.spinner.hidden {
  display: none;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}
  


  